.landing-page {
  height: 100%;
  /* background-color: rgba(250, 235, 215, 0.547); */

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  padding: 20px;
  border-radius: 20px;

  background-color: #001626;
  font-weight: bold;
  font-size: 32px;
  filter: drop-shadow(0px 0px 16px rgba(0, 255, 255, 0.5));

  /* box-shadow: inset 0 0 16px #00ffff; */
  border: 1px #00ffff solid;
  color: #00ffff;

  font-family: "REM";
}

.button:hover {
  cursor: pointer;
}

.button2 {
  /* box-shadow: inset 0 0 16px #ffa12b; */
  border: 1px #ffa12b solid;
  color: #ffa12b;
}

message-box {
  background-color: rgb(172, 182, 212);
  padding: 5px;

  border: 1px black solid;
  border-radius: ;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: calc(100% - 30px);
  overflow-y: scroll;
}

.message {
  background-color: azure;
  padding: 10px;
  margin: 10px;
  width: 70%;
  border: 1px solid black;
  border-radius: 10px;
  align-self: flex-end;
}

.aria-message {
  background-color: rgb(240, 170, 231);
  align-self: flex-start;
}

/* temp */
.nameInput {
  font-size: 16px;
  width: 95%;
  align-self: center;

  margin-top: auto;
}
.nameButton {
  font-size: 16px;
  align-self: center;
  margin: 2px;
}
