.message-box {
  background-color: antiquewhite;
  padding: 2px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  background-color: azure;
  padding: 10px;
  margin: 10px;
  width: 70%;
  border: 1px solid black;
  border-radius: 10px;
  align-self: flex-end;
}

.aria-message {
  background-color: rgb(240, 170, 231);
  align-self: flex-start;
}

/* temp */
.nameInput {
  font-size: 16px;
  width: 95%;
  align-self: center;
}
.nameButton {
  align-self: center;
}
