.nav-up {
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 100;
  right: max(calc((100vw - 550px) / 2 - 110px), 10px);
}
.nav-up:hover {
  cursor: pointer;
  transform: scale(0.98);
  transition: 0.1s;
  filter: drop-shadow(0px 0px 5px #b6b6b6);
}
.nav-back {
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 100;
  right: max(calc((100vw - 550px) / 2 - 135px), 10px);
}
.nav-back:hover {
  cursor: pointer;
  transform: scale(0.98);
  transition: 0.1s;
  filter: drop-shadow(0px 0px 5px #b6b6b6);
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.button-header {
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 9px;
  padding: 9px;

  background-color: #001626;
  box-shadow: 0px 0px 7.24px rgba(255, 161, 43, 0.5);

  border: 0.5px #bbbbbb solid;
  color: #bbbbbb;

  font-family: "REM";
  font-weight: bold;
  font-size: 14px;
}

.button-header:hover {
  cursor: pointer;
  transform: scale(0.99);
  transition: 0.1s;
}

.button-header.active {
  border: 0.5px #ffa12b solid;
  color: #ffa12b;
}

.baner {
  background-color: rgb(0, 0, 0);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-transform: uppercase;
}
.banner-header {
  color: #a86dff;
}
.banner-text {
  color: #0edbff;
}
.banner-button {
  margin: 10px;
  background-color: aqua;
  color: #a86dff;
  padding: 5.5px;

  border: 1px #a86dff solid;
  background-color: #001626;
  border-radius: 11px;

  font-family: "REM";
  /* font-weight: bold; */
  font-size: 18px;
}

.banner-img {
  width: 154px;
  height: 154px;
  background-color: aliceblue;
}

.plot-big-cointerner {
  padding-bottom: 200px;
}
.plot-cointerner {
  padding: 30px;
  background-color: #000000;
  border: 1px #00ffff solid;
  display: flex;
  flex-direction: column;
}
.aria-profile {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.title {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-weight: bold;
}
.title-element {
  margin: 4px;
  text-align: left;
}
.plot {
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  text-transform: none;
}
